p{
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--Bright-Yellow);
    margin-bottom:1rem ;
}
.paragrafo_dois p{
    line-height: 1.625rem;
    color: #98a6bd;
    font-size: 0.875rem;
}

.superior{
    padding: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 0.313rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;




}
.direita{
    background-color: #4ABFBD;
    padding: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    

}
.direita p{
    line-height: 1.25rem;
    font-size: 0.875rem;
    color: white;
    opacity: 0.75;
}
.esquerda{
    background-color: #2ab2af;
    padding: 1.5rem;
    border-bottom-left-radius: 5px;
}

.esquerda button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: var(--Bright-Yellow);
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
    border: 0;
    line-height: 1.125rem;
    font-size: 1rem;
    color: white;
    bottom: none;
    
     
}

.direita p{
    color: white;
    opacity: 0.75;
    font-size: 0.875rem;
    line-height: 0.5rem;
    font-weight: 50;

}

.numer{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
}
.texto{
    color: white;
    opacity: 0.5;
}
.esquerda p{
    color: white;
    
}
.texto2 {
    color: white;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
}
.esquerda div{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.25rem;
    border-bottom-left-radius: 5px;
}